/* google-font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:"width" 100;}

*{margin: 0;
padding:0;
box-sizing:border-box;}

/*---------------------- */

 header,main{background-color: #F5F8FF;}
.nav-list li img{width: 20px;height: 20px;}
.navbar{display: flex;justify-content: space-between;align-items: center;
 max-width: 1180px;margin:0 auto;padding: 40px 25px;
}
.nav-list{display: flex;justify-content: space-around;gap: 20px;list-style: none;}
.nav-list li a{text-decoration: none;}
.nav-list li a:hover{color:black;font-weight: 600;}
.cart-text {display: none;}
/* -----------fresh-------- */
.fresh-txt{color: #E95A08;}
.fresh-container{max-width: 1180px;margin: 0 auto;display: flex;
  gap: 10px;}
.fresh-left{width: 50%;}
.fresh-left h2{font-size: 60px;margin-top: 120px;}
.fresh-flower{width: 50%;}
.fresh-flower img{width: 100%;}
/*--------- plants--------- */
.plants{margin-top: 100px;max-width: 1180px;margin: 100px auto;}
.plants-txt{text-align: center;width: 50%;margin: 0 auto;margin-bottom: 45px;}
.plants-txt h3{font-size: 40px;}
.plants-card{display: grid;grid-template-columns: repeat(4, 1fr);
  justify-content: center;gap: 10px;}
.card{text-align:center;}
.card:hover{box-shadow: 5px 10px 10px orangered}
.card h3{font-size: 15px;}
.card h3{font-weight:600;margin: 9px 0;}
.card-btn{background-color: #E95A08;color: white;padding:10px;border: none;
width: 100%;}
.card img{width: 100%;}
.card-btn:hover {
  background-color: #c94a05;
  cursor: pointer;font-weight: 600;}

/* ----------lover------------- */
.lover{display: flex;align-items: center;gap: 60px;
  max-width: 1180px;margin: 180px auto;position: relative;}
.left-lover{max-width: 50%;}
.right-lover{max-width:40%;margin: 0 auto;}
.right-lover h3{font-size: 44px;font-weight: 600;}
.right-lover LI{margin: 40px 0;font-size: 18px;color: gray;}
.badge{max-width:200px;height:200px;
    position: absolute;top: -90px;left:407px}
    .left-lover img{width: 100%}
 /* --------------latest------------ */
.latest-deal{width: 100%;}
.latest{display: flex;gap: 15px;max-width: 1180px;margin: 50px auto;
  color: white;text-align: center;}
.plants-txt,.fresh-left p{color: gray;}
.latest-left{width: 50%;height: 600px; }
.latest-right{background-image: url(../assets/deal-zabo.png);
background-repeat: no-repeat;background-size: cover;width: 50%;height: 600px;
border-radius: 10px;}
.latest-left1{background-image: url(../assets/deal-bloom.png);
background-repeat: no-repeat;background-size: cover;width:100%; height: 290px;
   border-radius: 10px;
}
.latest-left1 h3{position: relative;top: 40%;}
.latest-left1 h4{position: relative;top: 42%;text-decoration: underline;}
.latest-left2 h3{position: relative;top: 40%;}
.latest-left2 h4{position: relative;top: 42%;text-decoration: underline;}
.latest-left2{background-image:url(../assets/deal-ana.png); 
  background-repeat: no-repeat;background-size: cover;width: 100%;height: 290px;
  border-radius: 10px;margin: 15px 0;}
.latest-right h3{font-size: 30px;font-weight:600; position: relative;top: 43%;}
.latest-right h4{font-size: 18px;font-weight: 600;text-decoration: underline;position: relative;top: 45%;}
/*-------------- join ----------*/
.join{background-image: url(../assets/news-letter-bg.png);background-size: cover;
background-repeat: no-repeat;width: 100%;height: 530px;}
.join{text-align: center;position: relative;}
.join img{height: 533px;}
.join h3{font-size: 34px;color:white;position: relative; top: 42%;}
.join-search{display: flex;justify-content: center;position: relative;
    top: 45%;}
.join-search input{background-color: white;width: 40%;height: 41px;}
.join-search button {background-color: #E95A08;color: white;
  border: none;width: 15%;height: 40px;}
  .join-search button:hover { background-color: #c94a05;
  cursor: pointer;font-weight: 600;}
/* ------------footer---------- */
footer{max-width: 1180px;margin: 50px auto;display: flex;
  justify-content: space-around;}
footer div{width: 25%;}
.footer-link{display: flex;gap: 20px;}
footer p{color: gray;}
.foot-ul li{list-style: none;line-height: 33px;}
ul li a{text-decoration: none;color: gray;}
.nav-list {justify-content: center;padding: 10px 0;} 
 .cart-img {width: 32px;height: 32px;}


  /* -------------SMALL/MOBILE MEDIA-QUERY-------------- */

 @media screen and (max-width:576px) { .navbar{padding: 40px 25px}
.cart-text {display: inline;}
.nav-list li {display: none;}
.nav-list li.cart-only {display:block;} 

.fresh-container{flex-direction:column-reverse;background-color:lightblue;
gap: 0;} 
.fresh-left{width: 100%;padding: 10px;}
.fresh-flower{width: 100%;}

.plants-card{grid-template-columns: repeat(2, 1fr);}
.card{padding: 10px;}
.lover,.latest,footer{flex-direction: column;}
.badge{display: none;}
.plants{margin: 0 auto;}
.lover{margin: 0 auto;}   
.left-lover{max-width: 100%;margin-top: 100px;}
.right-lover {max-width: 80%;}
.right-lover h3 {font-size: 35px;}

.latest-left,.latest-right {width: 100%;}
.latest-right {height: 300px;}

.plants-txt{width: 90%;margin-top: 100px;}
.latest{padding: 10px;}
.latest-left2{border-radius:0}

.join h3{font-size: 25px;} 

footer{padding: 30px;}
footer div{width: 70%;padding: 15px;}
.footer-link{gap:40px;margin: 40px 0;}

}  

   /* -----------MEDIUM/TAB MEDIA-QUERY------------------ */

   @media screen and (min-width:576px)and (max-width:992px) {
  .navbar{padding: 40px 25px}
.fresh-container{flex-direction: column-reverse;
  background-color:rgb(232, 248, 194)} 
.fresh-left{width: 100%;padding: 10px;}
.fresh-flower{width: 100%;}

.plants-card{grid-template-columns: repeat(2, 1fr);}
.lover,.latest{flex-direction: column;}
.badge{display: none;}
.plants{margin: 0 auto;}

.lover{margin: 0 auto;}   
.left-lover{max-width: 100%;margin-top: 100px;}
.right-lover {max-width: 80%;}
.latest-left,.latest-right {width: 100%;}
.latest-right {height: 300px;}
.plants-txt{width: 90%;margin-top: 100px;}

.join h3{font-size: 25px;} 

footer {
display:flex; flex-wrap: wrap;justify-content: space-between; gap: 20px; }
footer div {width: 48%; text-align: center; }
.footer-link{gap:40px;margin: 40px 0;}
}
 
      
           